#
# On port 80, only allow ACME challenge, everything else redirect to HTTPS
#
server {
    listen 80 default_server;
    server_name _;

    access_log {{ neonode_nginx_logs_directory }}/access_http.log;
    error_log {{ neonode_nginx_logs_directory }}/error_http.log;

    # Let's encrypt certificate challenge
    location /.well-known/acme-challenge/ {
        alias {{ neonode_lets_encrypt_directory }}/acme-challenge/;
        try_files $uri =404;
    }

    # Redirect to HTTPS
    location / {
    	return 301 https://$host$request_uri;
    }
}
